### 3.2.6 슬라이스로 항목 추출하기

In [3]:
a = [i for i in range(15)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
a[::2]

[0, 2, 4, 6, 8, 10, 12, 14]

- step 을 거꾸로 주었을 때(-값)는, slicing의 offset 기준도 거꾸로 된다.
- step 이 - 값인 경우, a:b:c  slicing 포맷일 때, a 부터 b 까지가 이미 뒤집어진 것으로 생각하여 값을 할당해주어야 한다.
- 즉, a index 값이 더 큰 숫자가 들어와야 한다.

In [23]:
# 리스트 a를 5부터 0까지 거꾸로 출력하고 싶을 경우
a[5::-1]

[5, 4, 3, 2, 1, 0]

In [24]:
# 5 ~ 11 까지 slicing 하여, 거꾸로 출력하고 싶을 경우
a[11:4:-1]

[11, 10, 9, 8, 7, 6, 5]

### 3.2.8 리스트 병합하기
- extend()
    - `.extend()`를 사용하여 다른 리스트를 병합할 수 있다.
    - 리스트와 리스트를 뒤에 잇는다. 이 때 extend 자체로 a 에 저장된다.
- +=
    - `+=`로도 병합할 수 있다.

In [29]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]
print(a)
print(b)

[1, 2, 3, 4, 5]
[6, 7, 8]

In [30]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]
a += b
a

[1, 2, 3, 4, 5, 6, 7, 8]

### 3.2.9 insert()로 항목 추가하기
- append() 는 리스트의 끝에 data 를 추가하는 반면,
- insert() 는 리스트의 오프셋을 통해  data를 추가한다.
- 제시해주는 index 가 list 의 오프셋을 넘어가는 경우, append 처럼 끝에 추가하게 된다. 예외나 error 를 던질 가능성 없다.

In [43]:
c = [0, 1, 2, 3]
c

[0, 1, 2, 3]

In [44]:
c.insert(1, 'a')
c

[0, 'a', 1, 2, 3]

In [45]:
c.insert(1, 'b')
c

[0, 'b', 'a', 1, 2, 3]

In [47]:
# 제시해주는 index 가 본 리스트길이를 넘기더라도 append 형태로 됨
c.insert(8, 'c')
c

[0, 'b', 'a', 1, 2, 3, 'c', 'c']

### 3.2.10 오프셋으로 항목 삭제하기 : del
- del 의 경우 리스트의 함수가 아니라 파이썬의 **구문**이다.
- 즉, del 은 할당(=)의 반대로서, 객체로부터 이름을 분리하고, 객체의 메모리를 비워준다.
- del 은 리스트에서 data 를 삭제하고, 제거된 항목 이후의 항목들이 한칸 씩 앞으로 당겨진다.

In [50]:
d = ['a', 'b', 'c', 'd', 'e', 'f',]
# c 제거
del d[2]
d

['a', 'b', 'd', 'e', 'f']

### 3.2.11 값으로 항목 삭제하기 : remove()
- 리스트에서 삭제할 항목의 위치(오프셋)을 모르는 경우, `remove()`와 해당 값으로 그 항목을 제거할 수 있다.

In [51]:
d = ['a', 'b', 'c', 'd', 'e', 'f',]
# 위와 마찬가지로 c 제거
d.remove('c')
d

['a', 'b', 'd', 'e', 'f']

- 중복된 값이 있는 경우?
    - 가장 앞에 있는 값이 삭제된다.
    - index 값이 가장 작은 data가 삭제

In [53]:
# c 가 총 3개
d = ['a', 'b', 'c', 'c', 'd', 'e', 'f', 'c']
d.remove('c')
d

['a', 'b', 'c', 'd', 'e', 'f', 'c']

In [54]:
d = ['a', 'b', 'a', 'c', 'd', 'e', 'f',]
d.remove('a')
d

['b', 'a', 'c', 'd', 'e', 'f']

### 3.2.12 오프셋으로 항목을 얻은 후 삭제하기 : pop()
- `pop(index)`를 통해 리스트에서 꺼내서 값을 받은 후, 리스트에서는 제거된다.
- append -> pop(0) : FIFO (First In First Out - 큐)
- append -> pop() : LIFO (Last In First Out - 스택)

### 3.2.13 값으로 data 오프셋 찾기 : index()

In [55]:
e = ['a', 'b', 'c', 'd', 'e', 'f',]
e.index('a')

0

- 중복된 값이 있으면?
    - `remove()` 와 마찬가지로, 가장 앞에 항목의 index 만 알려준다.

In [56]:
e = ['a', 'b', 'a', 'c', 'd', 'e', 'f',]
e.index('a')

0

### 3.2.15 값 세기 : count()
- 리스트 안에 특정 값이 몇 개나 있는지, 확인

In [57]:
e = ['a', 'b', 'a', 'c', 'd', 'e', 'f',]
e.count('a')

2

### 3.2.16 문자열로 변환하기: join()
- 주의해야 하는 것은 !!! `join()`은 문자열의 메소드이지, 리스트의 메소드가 아니다.
- `join()`의 parameter 는 문자열 혹은 반복 가능한 문자열의 시퀀스

In [61]:
alphabets = ['a', 'b', 'c', 'd']
comma_alphabets = ','.join(alphabets)
space_alphabets = ' '.join(alphabets)
print(joined_alphabets)
print(space_alphabets)

a,b,c,d
a b c d

In [69]:
# 예제
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [71]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [72]:
separated == friends

True

### 3.2.17 정렬하기 : sort(), sorted()
- `sort()` 는 리스트 자체를 내부적으로 정렬
- `sorted()`는 리스트의 정렬된 복사본을 반환
- 기본 정렬방식은 오름차순

In [73]:
a = [5, 2, 1, 4, 3]
a.sort()
a

[1, 2, 3, 4, 5]

In [75]:
a = [5, 2, 1, 4, 3]
b = sorted(a)
print('a', a)
print('b', b)

a [5, 2, 1, 4, 3]
b [1, 2, 3, 4, 5]

### 3.2.18 copy()

In [84]:
a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[:]
e = a

In [85]:
a[0] = '0 out!!!'
a

['0 out!!!', 2, 3]

In [86]:
b

[1, 2, 3]

In [87]:
c

[1, 2, 3]

In [88]:
d

[1, 2, 3]

In [89]:
e

['0 out!!!', 2, 3]

### 3.3 튜플
- 튜플도 리스트와 마찬가지로 순서가 있는 시퀀스이다.
- 하지만 튜플은 리스트와 다르게 한번 정의 한 후에는 추가, 삭제, 수정을 할 수 없고 불변이다.

**튜플의 장점**
1. 튜플은 더 적은 공간을 사용한다.
2. 튜플의 항목이 실수로 손상될 염려가 없다.
3. 튜플을 딕셔너리 키로 사용할 수 있다.
4. 네임드 튜플

In [90]:
a = 1, 2, 3
a

(1, 2, 3)

- tuple unpacking : 튜플 언패킹

In [99]:
numbers = (1, 2, 3)
a, b, c = numbers
print('a', a)
print('b', b)
print('c', c)

a 1
b 2
c 3

In [98]:
a, b = b, a
print('a', a)
print('b', b)

a 1
b 2